In [ ]:
# to change into markdown
# esc + m
# to give bullet points
# { -space text }
# command + enter

# Variables

- Variables are used to store the data 

- the data can be change 

- these variables can be used to manipulate python code

In [8]:
number = 100
# 100 is stored in a variable called as number
number

100

In [10]:
NUMBER = 200
NUMBER

200

In [12]:
( number, NUMBER )

(100, 200)

In [14]:
NUMber = 188

In [16]:
( number, NUMBER , NUMber )

(100, 200, 188)

In [18]:
number123=400

In [20]:
123number=500

SyntaxError: invalid decimal literal (3682356261.py, line 1)

In [ ]:
# type first two letters enter tab

** NOTE **
- variables generally in black color
- green color should not be a variables
- number as suffix can work
- number as prefix fail

In [25]:
number=600

- special characters are not allowed

In [28]:
number one = 200

SyntaxError: invalid syntax (2283255128.py, line 1)

- space also a special character

In [33]:
number_one = 300
number_one

300

- underscore can use as variable

In [43]:
_=1000 
_
# underscore will work here

1000

In [45]:
if=100

SyntaxError: invalid syntax (586179600.py, line 1)

**keyword can not use as variables**