In [28]:
str1='the telephone number is 123456'
for i in str1:
    if i.isdigit():
        print(i,end=' ')

1 2 3 4 5 6

In [16]:
dir(str())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [30]:
str1='the telephone number is 123456' 
for i in str1:
    if i.isdigit():
        print(i)

1
2
3
4
5
6

In [34]:
str1='the telephone number is 123456'
num=''
for i in str1:
    if i.isdigit():
        num=num+i
print(num)

123456

# LIST

**basic representation**
  
- strings elements in single quotes

- list elements in square brackets

In [40]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [59]:
type(list1)
# for strigns === str
# we will say strings == but type is str
# we will say list === type also list

list

In [46]:
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [61]:
list3=[1,2,3,'A','c','f',0.3,True,'p',4500,20+30j]
list3

[1, 2, 3, 'A', 'c', 'f', 0.3, True, 'p', 4500, (20+30j)]

In [71]:
list4=[10,20,30,['apple']]
list4

[10, 20, 30, ['apple']]

In [95]:
list12=[10,20,2,5,75]
list22=['apple','Apple','cherry','banana']
list32=[10,20,2,5,75,'apple','Apple','cherry','banana']

In [17]:
print(list12,list22,list32)

[10, 20, 2, 5, 75] ['apple', 'Apple', 'cherry', 'banana'] [10, 20, 2, 5, 75, 'apple', 'Apple', 'cherry', 'banana']

In [111]:
print(len(list12))
print(len(list22))
print(len(list32))

5
4
9

In [121]:
print(max(list12))
print(max(list22))

75
cherry

In [119]:
print(max(list32))
# max mix with str and int ===> not working

TypeError: '>' not supported between instances of 'str' and 'int'

In [123]:
print(min(list32))
# min mix with str and int ===> not working

TypeError: '<' not supported between instances of 'str' and 'int'

In [125]:
print(min(list12))
print(min(list22))

2
Apple

In [135]:
print(sorted(list12))
print(sorted(list22))

[2, 5, 10, 20, 75]
['Apple', 'apple', 'banana', 'cherry']

In [ ]:
print(sorted(list32))
# # sorted mix with str and int ===> not working

In [145]:
sum(list12)

112

In [143]:
sum(list22)
sum(list32)
# sum mix with str and int ===> not working

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [181]:
reversed(list12)
for i in (reversed(list12)):
    print(i)

75
5
2
20
10

In [7]:
list12=[10,20,2,5,75]
list22=['apple','Apple','cherry','banana']
list32=[10,20,2,5,75,'apple','Apple','cherry','banana']

for i in reversed(list22):
    print(i)

banana
cherry
Apple
apple

In [11]:
for i in reversed(list32):
    print(i)

banana
cherry
Apple
apple
75
5
2
20
10

In [ ]:
# in the interview 
# list1=[10,120,2,5,75]
# Q1 sort the list with out sorted fucntion
# Q2find the max value without max function
# Q3)find the min value without min function 
# Q4)reversed the elemnts without reversed function
# Q5)sum the elements with out using sum funtion
# Q6)find the second min and second max

**concatenation**

In [186]:
list1=[1,2,3,4]
list2=['A','B','C','D']
list1+list2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [188]:
list1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [190]:
list2*2

['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D']

**index**

In [15]:
list1=[10,20,30,'A','B','C']
print(list1[0],list1[-6])
print(list1[1],list1[-5])
print(list1[2],list1[-4])
print(list1[3],list1[-3])
print(list1[4],list1[-2])
print(list1[5],list1[-1])

10 10
20 20
30 30
A A
B B
C C

In [226]:
for i in range(0,6):
    print(f'the positive index of {list1[i]} is {i}')

the positive index of 10 is 0
the positive index of 20 is 1
the positive index of 30 is 2
the positive index of A is 3
the positive index of B is 4
the positive index of C is 5

In [228]:
for i in range(-6,0):
    print(f'the negative index of {list1[i]} is {i}')

the negative index of 10 is -6
the negative index of 20 is -5
the negative index of 30 is -4
the negative index of A is -3
the negative index of B is -2
the negative index of C is -1

In [234]:
for i in range(0,6):
    print(i,i-6)
    print()
    print(f'the positive index of {list1[i]} is {i} & the negative index of {list1[i]} is {i}.')
    print()

0 -6

the positive index of 10 is 0 & the negative index of 10 is 0.

1 -5

the positive index of 20 is 1 & the negative index of 20 is 1.

2 -4

the positive index of 30 is 2 & the negative index of 30 is 2.

3 -3

the positive index of A is 3 & the negative index of A is 3.

4 -2

the positive index of B is 4 & the negative index of B is 4.

5 -1

the positive index of C is 5 & the negative index of C is 5.

In [ ]:
list1=[10,20]
# inside list how many elements are there? ==> 2

In [270]:
list1=[[10]]
# inside list how many elements are there?
# [10] ===> list 10
# step-1:
list1[0]
# ouput ==> [10]
list1[0][0]
# output ===> 10
# we can check with len to get how many elements are present len(list1)

10

In [244]:
list1=[[10,20]]
list2=[10,20]
len(list1),len(list2)

(1, 2)

In [262]:
list=[10,[20]]
list[1][0]

20

In [266]:
list=[10,20,30,'a',['banana','cherry']]
list[4][1]

'cherry'

In [322]:
list1=['A',['Apple','B',['Banana'],'C',['chicken']]]
list1[1][4][0]

'chicken'

In [330]:
list1=['A',['Apple','B',['Banana','C',['chicken','D',['Dragon fruit']]]]]
len(list1)
len(list1[1])
list1[1][2][2][2][0]

'Dragon fruit'

In [346]:
list1=['Apple',['Kashmir',['india',['cricket',['bat']]]]]
len(list1)
len(list1[1])
list1[1][1][1][1][0]

'bat'

In [358]:
list1=['Orange',['Nagpur',['MH',['shivaji',['shamabji',['viky']]]]]]
list1[1][1][1][1][1][0]

'viky'

In [376]:
list1=[[[[[[[[['apple']]]]]]]]]
list1[0][0][0][0][0][0][0][0][0]

'apple'