- if both keys are same it will take the latest value

- dictionary doesn't allow duplicates

- in dictionary keys pays vital role

- keys cant be duplicate but values can be duplicate

- keys are imp ; dictionary will only consider keys

-

In [4]:
d23={'fruit':{'ji'}}   # works
d23

{'fruit': {'ji'}}

In [6]:
d23={{'ji'}:'fruit'}   # fails
d23

TypeError: unhashable type: 'set'

In [11]:
dict1={'apple':20,'banana':30,'cherry':50}
dict2={'apple':20,'apple':30}
dict3={20:'apple',30:'banana',50:'cherry'}

# min max sum sorted reversed

In [17]:
print(min(dict1))
print(min(dict2))
print(min(dict3))

apple
apple
20

In [29]:
print(max(dict1))
print(max(dict2))
print(max(dict3))

cherry
apple
50

In [57]:
sum(dict1)

TypeError: unsupported operand type(s) for +: 'dict' and 'str'

In [53]:
sum(dict2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
sum(dict3)

100

In [41]:
print(sorted(dict1))
print(sorted(dict2))
print(sorted(dict3))

['apple', 'banana', 'cherry']
['apple']
[20, 30, 50]

In [47]:
reversed(dict1)
for i in reversed(dict1):
    print(i)

cherry
banana
apple

In [49]:
reversed(dict1)
for i in reversed(dict2):
    print(i)

apple

In [51]:
reversed(dict1)
for i in reversed(dict3):
    print(i)

50
30
20

In [60]:
len(dict1)

3

In [72]:
dict1={'apple':20,'banana':30,'cherry':50}
'apple' in dict1

True

In [74]:
20 in dict1

False

In [76]:
'apple':20 in dict1

SyntaxError: illegal target for annotation (3229527801.py, line 1)

In [ ]:
- i in dict1

In [78]:
dict1={'apple':20,'banana':30,'cherry':50}
for i in dict1:
    print(i)

apple
banana
cherry

In [92]:
dict1={'apple':20,'banana':30,'cherry':50}
for i in range(len(dict1)):
    print(i)

0
1
2

In [94]:
l1=[10,20,30]
l1[0]

10

In [96]:
str1='python'
str1[0]

'p'

In [101]:
dict2={'apple':20,'banana':30}
dict2['apple']

20

In [ ]:
# **key Error** :: means u provided wrong information

**how to extract the values**

- in dictionary we have a concept key:value pair

- keys are very imp 

- in order to get the values we need to take the keys help

- call the values by using keys

In [107]:
# both keys and values come 

dict1={'apple':20,'banana':30,'cherry':50}
for i in dict1:
    print(i,dict1[i])

apple 20
banana 30
cherry 50

In [115]:
names={'ramesh':20,'suresh':25,'sathish':30}
for i in names:
    print(f'{i} age is {names[i]}')

ramesh age is 20
suresh age is 25
sathish age is 30

In [127]:
d={'fruits':['apple','banana','cherry']}
d['fruits'][2]

'cherry'

In [137]:
d={'fruits':{'apple':['sweet','sour','green']}}
d['fruits']['apple'][2]

'green'

In [ ]:
d={'fruits':{'apple':['sweet','sour','green']}}
d['fruits'] # dictionary 
d['fruits']['apple'] # list
d['fruits']['apple'][2]

In [155]:
d={'fruits':[{'cost':[50]}]}
 #len(d)
d['fruits'][0]['cost'][0]

50

In [167]:
d={'fruits':['apple'],'cost':[{'1kg':[20,30,40],'2kg':'none'}]}
d['cost'][0]['1kg'][2]

40

In [169]:
d={'fruits':['apple'],'cost':[{'1kg':[20,30,40],'2kg':'none'}]}
d['cost'][0]['2kg']

'none'

In [193]:
d={'fruits':{'orange':{'nagpur':{'MH':{'king':{'shivaji':{'shambaji'}}}}}}}
d['fruits']['orange']['nagpur']['MH']['king']['shivaji']

{'shambaji'}

- do it sets today

**how to create an empty dictionary**

- now onwards focus on creation of empty list,string,dictionary 

- we will take empty list will use append operation

- we will take empty string will use conactenation

- we will take empty dictionary will use key:value pair concept

In [1]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [5]:
# string
s=' '
s=s+'p'  #''+'p'
s=s+'y'  #'p'+'y' = 'py'
s

' py'

In [11]:
# dictionary 
d={}
d['apple']=20
d['banana']=25
d['cherry']=30
d

{'apple': 20, 'banana': 25, 'cherry': 30}

In [ ]:
**how to convert list to dictionary**

In [27]:
# d[i]=j
names=['ramesh','suresh','sathist']
age=[20,25,30]
d1={}
for i,j in zip(names,age):
    print(i,j)
    d1[i]=j

d1

ramesh 20
suresh 25
sathist 30

{'ramesh': 20, 'suresh': 25, 'sathist': 30}

In [30]:
# dictionary comprehension

{i:j for i,j in zip(names,age)}

{'ramesh': 20, 'suresh': 25, 'sathist': 30}

In [34]:
# dict1={'apple':20,'banana':30,'cherry':50}
fruits=['apple','banana','cherry']
rate=[20,30,50]
total={}
for i,j in zip(fruits,rate):
    print(i,j)
    total[i]=j

total

apple 20
banana 30
cherry 50

{'apple': 20, 'banana': 30, 'cherry': 50}

In [37]:
fruits=['apple','banana','cherry']
rate=[20,30,50]
{i:j for i,j in zip(fruits,rate)}

{'apple': 20, 'banana': 30, 'cherry': 50}

# dictionary comprehension

In [ ]:
- for list comprehension we written inside list

- for dictionary comprehension we should write everything inside dictionary 

- for list comprehension: [<output> <for loop>]

- for dictionary comprehension: {key:value}

In [ ]:
**mutable - immutable**

- lists are mutable

- dictionary are also mutable

- strings are immutable 

- tuple are immutable

- in dictionary we can change the values using keys

In [40]:
# example 

d={'ramesh': 20, 'suresh': 25, 'sathist': 30}
d['ramesh']=40
d

{'ramesh': 40, 'suresh': 25, 'sathist': 30}

In [ ]:
# methods

In [42]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# 'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values'

In [ ]:
# 'clear', #  'copy', #  'keys', #  'values', #  'items',

In [4]:
d={'hello':20,'world':476}
d.clear()
d

{}

In [8]:
d1={'mark':39,'microsoft':7899}
d1.copy()
d1

{'mark': 39, 'microsoft': 7899}

In [14]:
k9={'youtube':384,'whatsapp':63485}
k9.keys()
k9

{'youtube': 384, 'whatsapp': 63485}

In [20]:
hgu={'bhanu':8040,'bhanu_mom':754}
hgu.values()

dict_values([8040, 754])

In [28]:
fhy={'python':9,'html':1}
fhy.items()

dict_items([('python', 9), ('html', 1)])