In [9]:
names=['ramesh','suresh','sathish']
age=[20,25,30]
print(f'{names[0]} age is {age[0]}')
print(f'{names[1]} age is {age[1]}')
print(f'{names[2]} age is {age[2]}')

ramesh age is 20
suresh age is 25
sathish age is 30

In [27]:
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

ramesh age is 20
suresh age is 25
sathish age is 30

In [31]:
# zip 
names=['ramesh','suresh','sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f"{i} age is {j}")

ramesh 20
ramesh age is 20
suresh 25
suresh age is 25
sathish 30
sathish age is 30

# Dictionary

- in above example names and age both are together 

- when both are together we can pair them 

- this can happen using dictionary

- dictionary is called as **key-value** pair

- it represents with curly braces : **{key:value}**

- ramesh and 20 years both are pair : {'ramesh':20}

In [46]:
d1={'ramesh':20,'suresh':25,'sathish':30}
d1

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

In [48]:
d1={20:'ramesh',25:'suresh',30:'sathish'}
d1

{20: 'ramesh', 25: 'suresh', 30: 'sathish'}

In [66]:
d4={'ramesh':30,'ramesh':90}
d4
# if both keys are same it will take the latest value
# dictionarys kind works as database

{'ramesh': 90}

In [68]:
d4={'ramesh':30,'ramesh':30}
d4
# dictionary doesn't allow duplicates

{'ramesh': 30}

In [ ]:
# in dictionary keys pays vital role
# keys cant be duplicate but values can be duplicate

In [62]:
d2={2,'apple'}
list(d2)

['apple', 2]

In [60]:
d3={'sleep'}
str(d3)

"{'sleep'}"

In [64]:
d4={'imp'}
tuple(d4)

('imp',)

- list as keys fail because list has a mutable behaviour 

- tuple as key works because tuple has immutable behaviour 

- in dictionary keys are very very imp

- keys doesnt change so when we apply list is fail