# list comprehension
- list comprehension a way to write list operatins in a single line
- when we apply for loop and if else conditional statements then the code compilation becomes slow
- which means it takes much time
- in order to avoid the time complexity we will use list comprehension
- list comprehension is a single line code

# case-1: only for loop

In [14]:
list1=[]
for i in range(10):
    list1.append(i)

list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code should write here]

list1=[<output variable><for loop>]
# dont give : after for loop

In [18]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
# Q1) 
inputt=['hyd','bengaluru','pune','mumabi']
for i in range(len(inputt)):
    print(i,inputt[i])

0 hyd
1 bengaluru
2 pune
3 mumabi

In [26]:
inputt=[(i,inputt[i]) for i in range(len(inputt))]
inputt

[(0, 'hyd'), (1, 'bengaluru'), (2, 'pune'), (3, 'mumabi')]

In [36]:
# Q2)
inputt=['hyd','bengaluru','pune','mumabi'] 
inputt=[i.capitalize() for i in inputt]
inputt

['Hyd', 'Bengaluru', 'Pune', 'Mumabi']

In [40]:
Q#
inputt=['hyd','bengaluru','pune','mumabi']
inputt=[i.upper() for i in inputt]
inputt

['HYD', 'BENGALURU', 'PUNE', 'MUMABI']

In [58]:
inputt=['hyd','bengaluru','pune','mumabi']
inputt=[(inputt.index(i)*10) for i in inputt]
# inputt=[(inputt.index(i)*10) for i in 'hyd','bengaluru','pune','mumabi']
inputt

[0, 10, 20, 30]

In [70]:
inputt=['hyd','bengaluru','pune','mumabi']
inputt=[(inputt.index(i)*10) for i in inputt]
sum(inputt)

60

# walrus operator

In [75]:
inputt=[summ=summ+i for i in range(1,11)]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1496155787.py, line 1)

In [79]:
summ=0
[summ:=summ+i for i in range(1,11)]
summ

55

# case-2: for loop and if condition

In [ ]:
# Syntax
[<output> <for loop> <if condition>]

In [83]:
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(f'even{i}')

even_list

['even2', 'even4', 'even6', 'even8']

In [ ]:
# [<output> <if condition> <for loop>]  # not works
# [<output> <for loop> <if condition>]  # it works

In [87]:
even_list=[(f'even{i}') for i in range(1,10) if i%2==0]
even_list

['even2', 'even4', 'even6', 'even8']

In [ ]:
cities=['hyd','be#ngaluru','pune','mu#mbai']
output=[]
for i in cities:
    if '#' in i:
        output.append(i)

output

In [97]:
output=[i for i in cities if '#' in i]
output

['be#ngaluru', 'mu#mbai']

In [99]:
output=[i for i in cities if '#' not in i]
output

['hyd', 'pune']

# case-3:

In [ ]:
for - else - for loop
[<if out> <if cond> else <else cond> <for loop>]

In [120]:
list1=[(f'even {i}') if i%2==0 else (f'odd {i}') for i in range(0,11)]
list1

['even 0',
 'odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9',
 'even 10']

In [ ]:
# case-4:

for - if - elif - else :

- in list comprehension we dont have elif representation 
- elif aslo represent as **else+if**
- in elif we have **elif condition** and **elif output**
- else elif_output elif_condition

In [ ]:
[<if out > <if cond> else <elif out> <elif cond> else <else out> <for loop>

**note : insted of elif term write if**

[<if out> <if cond> else <if out> <if cond> else <else out> <for loop>

In [176]:
# # >85 a grade 
# 60-85 b
# 60 c
l=[45,55,65,75,85,95]
for i in l:
    if i > 85:
        print(f'{i},a grade')
    elif i> 60:
        print(f'{i},b garde')
    else:
        print(f'{i},c grade')

45,c grade
55,c grade
65,b garde
75,b garde
85,b garde
95,a grade

In [174]:
grade=[(f'{i},a grade') if i > 85 else (f'{i},b garde') if i >60  else (f'{i},c grade') for i in l]
grade

['95,a grade',
 '70,b garde',
 '50,c grade',
 '88,a grade',
 '66,b garde',
 '45,c grade']

In [182]:
marks=[20,30,40,50]
new_marks=[]
for i in marks:
    new_marks.append(i+2)

new_marks

[22, 32, 42, 52]

In [186]:
marks=[100,10,20,3]
new_marks=[(i+2) for i in marks]
new_marks

[102, 12, 22, 5]