In [ ]:
Q1) list of students marks in python,marks=[45,76,89,53,67,90,82,49,33,99],solve all below problem by using list comprehension

In [62]:
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=50:
        print(i)

76
89
53
67
90
82
99

In [64]:
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=50:
        print(marks.index(i))

1
2
3
4
5
6
9

In [4]:
[i for i in marks if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [68]:
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=85:
        print(f'A grade {i}')
    elif i>=70:
        print(f'B grade {i}')
    elif i>=50:
        print(f'C grade {i}')
    elif i<50:
        print(f'F grade {i}')
    else:
        print("fail")

F grade 45
B grade 76
A grade 89
C grade 53
C grade 67
A grade 90
B grade 82
F grade 49
F grade 33
A grade 99

In [40]:
marks=[45,76,89,53,67,90,82,49,33,99]
hg=[(f'A grade{i}') if i>=85 else (f'b grade {i}') if i>=70 else (f'c grade {i}') if i>=50 else (f'f grade {i}') if i<50 else print("fail") for i in marks] 
hg

['f grade 45',
 'b grade 76',
 'A grade89',
 'c grade 53',
 'c grade 67',
 'A grade90',
 'b grade 82',
 'f grade 49',
 'f grade 33',
 'A grade99']

In [34]:
for i in marks:
    if i<50:
        print(i+5)

50
54
38

In [38]:
hgg=[i+5 for i in marks if i<50]
hgg

[50, 54, 38]

In [46]:
for i in marks:
    if i >=85:
        print(i)

89
90
99

In [48]:
[i for i in marks if i>=85]

[89, 90, 99]

In [84]:
max_value=max(marks)
for i in range(3):
    max_value=max(marks)
    print(max_value)
    marks.remove(max_value)

82
76
67

In [106]:
marks=[45,76,89,53,67,90,82,49,33,99]
max_value=max(marks)
for i in range(3):
    max_value=max(marks)
    print(max_value)
    marks.remove(max_value)

99
90
89

In [109]:
# avg
summ=0
marks=[45,76,89,53,67,90,82,49,33,99]
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

In [ ]:
# distance between two points
# find the distance between l2 with respective to all other points in l1
# which is the maximum distance give output
l1=[[1,2]],[4,5],[7,9]]
l2=[10,20]

In [131]:
# root of (x2=x1)*2+(y2-y1)*2
import math
l1=[3,5]
l2=[9,6]
d1=l2[0]-l1[0]
d1_squ=math.pow(d1,2)
d2=l2[1]-l1[1]
d2_squ=math.pow(d2,2)
summ=d1_squ+d2_squ
math.sqrt(summ)

6.082762530298219

In [135]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

6.082762530298219

In [ ]:
# sort the list
# find the max value
# find mini value
# second max
# second min
# longest word of a string
# find the most repeated word of a string