# wap ask theh user enter a number 
# print it is an even or odd

In [43]:
import random
def even():
    numm=random.randint(1,100)
    print(numm)
    if numm%2==0:
        print('even')
    else:
        print('odd')

even()

42
even

In [11]:
def oddd(numb):
    if numb%2==0:
        print('even')
    else:
        print('odd')

oddd(82)

even

In [47]:
def bothh(numbe=35):
    if numbe%2==0:
        print('even')
    else:
        print('odd')

bothh()

SyntaxError: invalid syntax (1526641116.py, line 2)

In [17]:
even()

even

In [21]:
oddd(101)

odd

In [23]:
bothh()

odd

In [ ]:
**parameter vs variable**

- parameters aslo called as arguments 
    - this always inside the function brackets
- variables either outside the function or inside the function

return concept
-

- return means function is giving something 
- we know that local variables can not use outside the function 
- inorder to use local variables outside the function we have two methods
    - 1. using global 
    - 2. return

In [67]:
def add():
    a=10
    b=20
    c=a+b
    return(c)

c=add()

In [70]:
c

30

In [72]:
def add():
    a=10
    b=20
    c=a+b
    return(a,c)

a,c=add()

In [74]:
a,c

(10, 30)

In [59]:
value=10,20   #tuple
print(value)

(10, 20)

In [63]:
val1,val2=10,20
print(val1,val2)

10 20

In [65]:
val1,val2=10
print(val1,val2)

TypeError: cannot unpack non-iterable int object

In [82]:
def avg(a,b,c):
    summ=a+b+c
    AVG=summ/3
    print(AVG)
    return(AVG)

AVG=avg(1,2,3)

2.0

In [84]:
AVG

2.0

import random
def even():
    numm=random.randint(1,100)
    print(numm)
    if numm%2==0:
        print('even')
    else:
        print('odd')
    return(numm)               # wrong

numm=even()

In [122]:
numm

38

In [141]:
import random
def even():
    numm=random.randint(1,100)
    print(numm)
    if numm%2==0:
        val=10
        print('even')
        return(numm+10)
    else:
        val=20
        print('odd')
        return(numm+20)

output=even()
print(output)

4
even
14

function in function

In [147]:
def greet1():
    print('hello gud mrng')

def greet2():
    print('hello gud night')

greet1()
greet2()

hello gud mrng
hello gud night

In [203]:
def greet11():
    print('hello gud mrng')



def greet22():
    print('hello gud night')
    greet22()

greet11()

hello gud mrng

In [207]:
def add(n):
    if n==0:
        return(0)
    else:
        return(n+add(n-1))

add(9)

45

In [ ]:
# q1) factorial resurcion 5! =120 5*4*3*2*1
# q2) calculator program 

create 4 functions 
def add(a,b):
    return(a+b)
def multiple 
def divis
def subtrac

print('enter 1 for additoin')

def main():
    option=eval(input('enter bt 1 to 4'))
    if option ==1:
        a=
        b=
        add()
        return
    elif option==2:
        a=
        b= 
        mul()
        return

In [277]:
def fact12(n):
    if n==0:
        return(0)
    else:
        return(n*(n-1)*add(n-1))

fact12(5)

24

In [223]:
5*4*3*2*1

120

In [265]:
n
(n*add(n-1))

4

In [267]:
n=2
(n-1)*n

2

In [287]:
n=5
n*add(n-1)

50

In [ ]:
n=5

In [295]:
def factorial(n):
    # Base case: 0! or 1! = 1
    if n == 0 or n == 1:
        return 1
    # Recursive case: n! = n * (n-1)!
    return (n * factorial(n - 1))

# Calculate 5!
result = factorial(5)
print("5! =", result)

5! = 120

In [11]:
def factt(n):
    if n == 0 or n == 1:
        return 1
    else:
        return (n * factt(n - 1))

result = factt(6)
print("6! =", result)

6! = 720

In [307]:
import math 
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [335]:
factorial(5)

120

In [ ]:
# q2) calculator program 

create 4 functions 
def add(a,b):
    return(a+b)
def multiple 
def divis
def subtrac

print('enter 1 for additoin')

def main():
    option=eval(input('enter bt 1 to 4'))
    if option ==1:
        a=
        b=
        add()
        return
    elif option==2:
        a=
        b= 
        mul()
        return

In [13]:
def add(a,b):
    return(a+b)
    
def multiple(a,b):
    return(a*b)

def div(a,b):
    return(a/b)

def sub(a,b):
    return(a-b)
print('enter 1 for addition')
print('enter 2 for multiple')
print('enter 3 for division')
print('enter 4 for subtraction')

def main():
    option=eval(input('enter bt 1  to 4'))
    if option==1:
        a=1
        b=2
        return(a+b)
    elif option==2:
        a=3
        b=4
        return(a*b)
    elif option==3:
        a=4
        b=2
        return(a/b)
    elif option==4:
        a=3
        b=2
        return(a-b)
    else:
        return('invalid')


main()

enter 1 for addition
enter 2 for multiple
enter 3 for division
enter 4 for subtraction

enter bt 1  to 4 3

2.0