**print statements**

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
print(10)
print(20)

10
20

In [7]:
print(10), print(20)

10
20

(None, None)

In [9]:
10,20

(10, 20)

In [11]:
print(a,b)

10 20

In [13]:
print(30,'nareshit','hyd')

30 nareshit hyd

In [31]:
num1= float(103)
num2=float(200)
add= num2/num1
# the addition of 100 and 200 is 300
print("the addition of",num1,"and",num2,"is",add)

the addition of 103.0 and 200.0 is 1.941747572815534

In [88]:
name="python"
age = 10
city = "hyd."
# my name is python im 10 years old comae from hyd
print("my name is",name,"im",age,"years old and came from",city)

my name is python im 10 years old and came from hyd.

**formate method**

In [76]:
name="python"
age = 10
city = "hyd"
print("my name is {} im {} years old and came from {}".format(name,age,city))
print(f"my name is {name} im {age} years old and came from {city}")

my name is python im 10 years old and came from hyd
my name is python im 10 years old and came from hyd

In [52]:
num1= float(103)
num2=float(200)
add= num2+num1
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 103.0 and 200.0 is 303.0

In [72]:
num1=100
num2=200
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
print("the addition of {} and {} is {}".format(num1,num2,add))
print("the sub of {} and {} is {}".format(num1,num2,sub))
print("the div of {} and {} is {}".format(num1,num2,div))
print("the mul of {} and {} is {}".format(num1,num2,mul))
print("---------------------------------------")
print(f"the add of {num1} and {num2} is {add}")
print(f"the sub of {num1} and {num2} is {sub}")
print(f"the div of {num1} and {num2} is {sub}")
print(f"the mul of {num1} and {num2} is {sub}")

the addition of 100 and 200 is 300
the sub of 100 and 200 is -100
the div of 100 and 200 is 0.5
the mul of 100 and 200 is 20000
---------------------------------------
the add of 100 and 200 is 300
the sub of 100 and 200 is -100
the div of 100 and 200 is -100
the mul of 100 and 200 is -100

In [74]:
num1=1
num2=2
num3=3
avg = (num1+num2+num3)/3
print(" the avg of {} , {}, {} is: {}".format(num1,num2,num3,avg))
print(f" the avg of {num1} , {num2}, {num3} is: {avg}")

 the avg of 1 , 2, 3 is: 2.0
 the avg of 1 , 2, 3 is: 2.0

**f string method**

In [64]:
num1= float(103)
num2=float(200)
add= num2+num1
print(f"the addition of {num1} and {num2} is {add}")

the addition of 103.0 and 200.0 is 303.0

**round**

**round**

**round**

In [ ]:
# print()
# type()
# COMMAND A + command / = # comes which means comments

In [104]:
a=10
b=20
avg=a+b/2
print(avg)

20.0

In [5]:
round(23.999)

24

In [7]:
round(23.988776,3)

23.989

In [100]:
print(round(23.999))
print(round(23.999,3))

24
23.999

In [118]:
a=12
b=21
avg=a+b/2
print(round(avg,2))
# type 1

22.5

In [116]:
a=12
b=21
avg=a+b/2
avg1=round(avg,2)
print(avg1)
# type 2

22.5

**i have multiple statemen ts but i want to show in single line**

**end operator**

**end operator**

**end operaor**

In [11]:
print(10)
print(20)

10
20

In [124]:
print(10,end=" ")
print(20)

10 20

In [16]:
print(10,end=" ======> ")
print(20)

10 ======> 20

In [22]:
print(10,end=" **####** ")
print(20)

10 **####** 20

In [130]:
print(10,end=" ")
print(30,end=" ")
print(20)

10 30 20

In [136]:
print("hello",end=" ")
print("how",end=" ")
print("are",end=" ")
print("you")

hello how are you

**i have multiple values in single print statement**
**i want print them with some seperation**

In [ ]:
print(10,20,30)
# 10 ===> 20 ===> 30

**sep operator**

In [143]:
print(10,20,30,sep=' ===> ')

10 ===> 20 ===> 30

In [ ]:
# # wap take the radious of a circle calculate area of the circle 
# # var: radious var pi=3.142 
# # formaul: pi*radius*radious
# # print the ans using f string and formate


# wap take the breadth and height of a right angle triangle
# calculate the area 
# var1: breadth var2: height
# formule: 0.5*breadth*height

# wap take the bill amoout and tip amount
# calculate total bill v
# var1: bill amount var2:tip amount
# formule



# wap take the lenght and breadth of a rectangle calculate area 
# var1:lenght var2:breadth
# formula: lenght*breadth

In [1]:
# problem 1
# lets take radius = 5
# pi = 3.142