index
-

In [2]:
str1='python'
str1

'python'

In [ ]:
-6 -5 -4 -3 -2 -1
 p  y  t  h  o  n
 0  1  2  3  4  5

In [ ]:
- access the charachter or elements use squre brackets

In [14]:
str1[0]

'p'

In [10]:
str1[1]

'y'

In [176]:
str1[9]

'a'

In [16]:
str1[-6]

'p'

In [32]:
str1='python'
for i in range(0,6):
    print(str1[i])

p
y
t
h
o
n

In [24]:
for i in 'pyhton':
    print(i)

p
y
h
t
o
n

In [39]:
str1='hell how are you'
n=len(str1)
for i in range(0,n):
    print(str1[i])

h
e
l
l

h
o
w

a
r
e

y
o
u

In [45]:
str2='python'
for i in range(0,6):
    print(f'the positive index of {str2[i]} is {i}')

the positive index of p is 0
the positive index of y is 1
the positive index of t is 2
the positive index of h is 3
the positive index of o is 4
the positive index of n is 5

In [53]:
str2='python'
for i in range(-6,0):
    print(f'the negative index of {str2[i]} is {i}')

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [116]:
str2='python'
for i in range(0,6):
    print(i,i-6)
    print(f'the positive index of {str2[i]} is  {i} & the negative index of {str2[i]} is {i-6}.')
    print(f'the positive index of {str2[i]} is  {i}.')
    print(f'the negative index of {str2[i]} is {i-6}.')

0 -6
the positive index of p is  0 & the negative index of p is -6.
the positive index of p is  0.
the negative index of p is -6.
1 -5
the positive index of y is  1 & the negative index of y is -5.
the positive index of y is  1.
the negative index of y is -5.
2 -4
the positive index of t is  2 & the negative index of t is -4.
the positive index of t is  2.
the negative index of t is -4.
3 -3
the positive index of h is  3 & the negative index of h is -3.
the positive index of h is  3.
the negative index of h is -3.
4 -2
the positive index of o is  4 & the negative index of o is -2.
the positive index of o is  4.
the negative index of o is -2.
5 -1
the positive index of n is  5 & the negative index of n is -1.
the positive index of n is  5.
the negative index of n is -1.

**when to use in - when to use range operator**

- in operator directly acces the elements
- range operator access the elements using index or numbers
- any problem statement if you need numbers then go for range
- otherwise go for in operator directly

In [126]:
str3='python'
for i in str3:
    print(i)

for i in range(0,6):
    print(f'{i},{str3[i]}')

p
y
t
h
o
n
0,p
1,y
2,t
3,h
4,o
5,n

In [182]:
# Q4)
str18='ola ola ola'
for i in range(len(str18)):
    if str18[i]=='a':
        print(i)

2
6
10

In [188]:
# Q5)
str18='ola ola ola'
summ=0
count=0
for i in range(len(str18)):
    if str18[i]=='a':
        print(i)
        summ=summ+i
        count=count+1

print(summ)
print(count)

2
6
10
18
3

In [192]:
# Q6) 
# Ans) In this problem we are counting no.of 'a'
#      we are not using index

count=0
for i in str18:
    if i=='a':
        count=count+1

print(count)

3

In [194]:
#Q7)

str1='hello how are you'
s1='aeiou'
count=0
for i in str1:
    if i in s1:
        print(i)
        count=count+1

print(count)

e
o
o
a
e
o
u
7

In [9]:
str1='hello how are you'
s1='aeiou'
s2=' '
for i in str1:
    if i in s1 and i not in s2:
        print(i)
        s2=s2*1
print(s2)

e
o
o
a
e
o
u

In [ ]:
mutable & immutable

- mutable means change
- immutable means can not change
- we can not change the elements using index operations
- **strings** are immutable.
- **lists** is mutable

In [208]:
str1='hello'
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [214]:
l=[10,20,100]
l[2]=9
l

[10, 20, 9]